version: '3.9'

services:
  powerdns:
    image: @@CI_IMAGE@@
    environment:
      - CI=postgres
      - POSTGRES_HOST=postgresql
      - POSTGRES_DATABASE=powerdns
      - POSTGRES_USER=powerdns
      - POSTGRES_PASSWORD=powerdns
    volumes:
      - ./data/powerdns:/var/lib/powerdns
    networks:
      - internal

  postgresql:
    image: registry.gitlab.iitsp.com/allworldit/docker/postgresql
    environment:
      - POSTGRES_USER=powerdns
      - POSTGRES_PASSWORD=powerdns
      - POSTGRES_DATABASE=powerdns
    networks:
      - internal

networks:
  internal:
    driver: bridge

# vim: filetype=yaml tabstop=2 shiftwidth=2 expandtab
